html {
}

textarea {
    display: none;
}

.wiki-container {
    background-color: #eee;
    padding: 15px;
    font-size: 16px;
    font-family: "Times New Roman";
}

.wiki-container .course-title {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-top: 25px;
}

.wiki-container .original-content {
    width: 80%;
    margin: 0 auto;
    padding: 12px;
}
